body {
    background-color: #191c19;
    color: white;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.options ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

.options li {
    transition: 0.1s;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.options li:hover {
    cursor: pointer;
    border-bottom: 3px solid #d5c866;
}

.active {
    border-bottom: 3px solid #d5c866;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    font-family: 'Josefin Sans', sans-serif;
}

.name h1 {
    font-size: 70px;
    margin-top: 0;
}

.name img {
    height: 300px;
    width: 300px;
}

.main-info h2:first-of-type {
    margin-top: 50px;
}

.main-info h2 {
    font-size: 30px;
}


#info {
    width: 400px;
}

.weighted {
    margin: 5px;
    font-weight: 200;
    font-size: 20px;
}

.hrs p {
    margin: 5px 0 5px 0;
}

/* Contact */

.big-contact {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.contact-info {
    display: flex;
    justify-content: center;
}
 
.main-contact {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
} 

.div-holder {
    display: flex;
    justify-content: space-around;
}

.three-div {
    height: 500px;
    width: 300px;
    border-radius: 2%;
    border: 1px solid white;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.2s;
}

.three-div:hover {
    border: 1px solid #d5c866;
}

.form {
    margin-top: 69.92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    background-color: #232523;
    border: 1px solid #232523;
    border-radius: 2px;
    height: 25px;
    color: white;
    width: 220px;
    transition: 0.2s;
    font-family: 'Josefin Sans', sans-serif;
}

input:focus, textarea:focus {
    outline: 1px solid #d5c866;
}

input:hover {
    border: 1px solid white;
}

::placeholder {
    color: white;
}

textarea {
    background-color: #232523;
    border: 1px solid #232523;
    resize: none;
    width: 220px;
    color: white;
    height: 50px;
    transition: 0.2s;
}

textarea:hover {
    border: 1px solid white;
}

.div-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-three-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.iframe {
    width: 290px;
    height: 490px;
    border-radius: 2%;
}

.send-btn {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2%;
    color: white;
    background-color: #232523;
    transform: 0.2s;
}

.send-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}

.form-h2 {
    margin: 0;
    margin-top: 19.92px;
}

/* Menu */

.first-salad, .pasta-clam {
    height: 500px;
    width: 500px;
}